.Est1{
    text-align: center;
    font-size: x-large;
    font-family: monospace;
    color: chartreuse;
}

.error {
    color: red;
    display: none;
}

#qr-code {
    margin-top: 20px;
}

.bord {
    border:10px solid #258d19;
    border-style:groove;
    font-family: monospace;
    font-size: x-large;

}

.ContQR{
    border: 5px solid #2699E6;
    border-radius: 2%;
    padding: 8px;
    display: inline-block;
    text-align: center;
}

.ContPhono{
    width: 46;
}


